{% extends "layout.twig" %}

{% block title %}{{ id }}{% endblock %}

{% block content %}

{% if is_granted('ROLE_MANAGER') %}
<h1>Форма общих расходов</h1>
{% else %}
<h1>Форма моих расходов</h1>
{% endif %}
<form action="{{action}}" method="post">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-xs-8">
			<div class="form-group">
				<label for="time">Дата/врем</label>
				<input name="time" type="text" class="form-control" id="time" disabled value="{{ now }}">
			</div>
		</div>

		<div class="col-sm-4 col-xs-8">	
			<div class="form-group">
				<label for="cash">Сумма</label>
				<input name="cash" type="text" class="form-control" id="cash">
				<input name="dept" type="hidden" class="form-control" id="dept" value="{{dept.id}}">
			</div>
		</div>		
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label for="comment">Комментарий</label>
				<textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-sm-2">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-8" style="height:40px"></div>
		<div class="col-md-1 col-sm-2">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-8" style="height:40px"></div>
		<div class="col-md-1 col-sm-2">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>

	</div>
</div>
</form>
{% endblock %}
