{% extends layout_template  %}

{% block title %}Edit User: {{ user.displayName }}{% endblock %}

{% block content %}

    <h1>Редактировать профиль: {{ user.displayName }}</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">
                Gravatar image<br>
                <a href="http://gravatar.com">Change</a>
            </label>
            <div class="col-sm-8 form-control-static">
                <img src="{{ image_url }}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">Name</label>
            <div class="col-sm-8">
                <input class="form-control" name="name" type="text" id="input-name" placeholder="Name" value="{{ user.name }}">
                <p class="help-block">Shown publicly</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-email">Email</label>
            <div class="col-sm-8">
                <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ user.email }}">
                <p class="help-block">Never shared</p>
            </div>
        </div>

        {% if isUsernameRequired or user.hasRealUsername %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Username</label>
                <div class="col-sm-8">
                    <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" value="{{ user.realUsername }}">
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password">New password</label>
            <div class="col-sm-8">
                <input class="form-control" name="password" type="password" id="input-password" placeholder="New password">
                <p class="help-block">Leave blank except to change</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-confirm-password">Confirm password</label>
            <div class="col-sm-8">
                <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" placeholder="Confirm password">
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-roles">
                    Roles<br/>
                    <span class="text-muted" style="font-weight: normal;">(Admin-only)</span>
                </label>
                <div class="col-sm-8">
                    <select class="form-control" multiple id="input-roles" name="roles[]">
                        {% for role in available_roles %}
                            <option value="{{ role }}" {% if user.hasRole(role) %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}

        {% if customFields %}
            {% for field,label in customFields %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-{{ field }}">{{ label }}</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="input-{{ field }}" name="{{ field }}" value="{{ user.getCustomField(field) }}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <a style="margin-left: 10px;" href="{{ path('user.view', {'id': user.id}) }}">Back to profile</a>
            </div>
        </div>

    </form>

{% endblock %}
