{% extends "layout.twig" %}

{% block title %}Список отчетов{% endblock %}

{% block content %}

<h1>Все отчеты</h1>
<script>
jQuery(document).ready(function($) {
	
    $('#repolist').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "/index.php/view/incominglist/all"
    } );
	
} );	
</script>	
	
<table id="repolist" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Код</th>
                <th>Дата создания</th>
                <th>Зал</th>
                <th>Форму создал</th>
                <th>Форму подтвердил</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Код</th>
                <th>Дата создания</th>
                <th>Зал</th>
                <th>Форму создал</th>
                <th>Форму подтвердил</th>
            </tr>
        </tfoot>
    </table>	
	
	

{% endblock %}
