{% extends "layout.twig" %}

{% block title %}{{ id }}{% endblock %}

{% block content %}

<h1>Форма пересменки</h1>
<form action="{{action}}" method="post">
<div class="container-fluid">



	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="time">Дата/врем</label>
				<input name="time" type="text" class="form-control" id="time" disabled value="{{ now }}">
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">		
			<div class="form-group">
				<label for="deptaddr">Зал</label>
				<input name="dept" type="hidden" class="form-control" id="dept" value="{{targetdepartment.id}}">
				<input name="deptaddr" type="text" class="form-control" id="deptaddr" readOnly value="{{targetdepartment.addr}}">
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="mustpass">Предыдущий отчет</label>
				<input name="lasttime" type="text" class="form-control" id="lasttime" readOnly value="{{ preexch }}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-xs-12">	
			<div class="form-group">
				<label for="cash">Сумма по кассе</label>
				<input name="cash" type="text" class="form-control" id="cash" value="{{dept.current_cash}}" readOnly/>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="mustpass">Сменяющий</label>
				<select name="mustpass" class="form-control" id="mustpass">
					{% for user in targetusers %}
					<option value="{{user.id}}">{{user.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<!--
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="time">Будет в кассе</label>
				<input id="willbecash" type="text" class="form-control wbic" readOnly value="{{mycash}}">
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">		
			<div class="form-group">
				<label for="deptaddr">Получено из систем</label>
				<input id="fromsys" type="text" class="form-control cfromsys" readOnly value="0">
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="mustpass"></label>

			</div>
		</div>
	</div>	
	-->
	
	
	
	<div class="row">
	<div class="table-responsive col-sm-12 col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width:2cm" >Система</th>
					<th>Вход</th>
					<th>Выход</th>
					<th>В кассу</th>
					<th>Ввод</th>
					<th>К-во людей</th>
					<th>Причина ручного ввода</th>
					<th>В системе будет</th>					
				</tr>
			</thead>
			<tbody>
				{% for sys in systems %}
				<tr>
					<td>{{sys.name}}<input type="hidden" name="sys[{{sys.id}}]" value="{{sys.id}}"></td>
					<td><input name="incash[{{sys.id}}]" type="text" class="form-control in"  value="0"></td>
					<td><input name="outcash[{{sys.id}}]" type="text" class="form-control out"  value="0"></td>
					<td><input name="rescash[{{sys.id}}]" type="text" class="form-control ro res" readOnly value="0"></td>
					<td><input name="manual[{{sys.id}}]" type="checkbox" class="form-control manualinput"  ></td>					
					<td><input name="people[{{sys.id}}]" type="text" class="form-control"  value="0"></td>										
					<td><input name="reason[{{sys.id}}]" type="text" class="form-control ro" readOnly value=""></td>	
					<td><input name="willbe[{{sys.id}}]" type="text" class="form-control willbe" readOnly value="{{sys.current_cash}}">
						<input type="hidden" class="mcsh" value="{{sys.current_cash}}">
						</td>	
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th>Всего получено</th>
					<th><input id="fromsys2" type="text" class="form-control cfromsys" readOnly value="0"></th>
					<th></th>
					<th></th>
					<th>Будет в кассе</th>
					<th><input id="willbecash" name="willbecash" type="text" class="form-control wbic" readOnly value="{{mycash}}"></th>					
				</tr>			
			</tfoot>
		</table>
		<script>
		$( document ).ready(function() {
		

      $("#sysexch").keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
      }
   });

		
		
		
		var mycash=parseFloat($('#willbecash').val());

		$(".manualinput").change(function () {
		
			if (this.checked) {
				$(this).parent().parent().children().children(".ro").attr("readOnly",false);
				
			}else{
				$(this).parent().parent().children().children(".ro").attr("readOnly","readOnly");

			}
			});
			
		$(".in,.out").change(function () {
			if (!$(this).parent().parent().children().children(".manualinput").prop( "checked" )){
			
					$(this).parent().parent().children().children(".res").val(
					parseInt($(this).parent().parent().children().children(".in").val())-
					parseInt($(this).parent().parent().children().children(".out").val())
					);
					
					$(this).parent().parent().children().children(".willbe").val(
					parseInt($(this).parent().parent().children().children(".mcsh").val())-
					parseInt($(this).parent().parent().children().children(".res").val())
					);
					
					var b = 0;
					$('.res').each(function() {
					b += parseFloat($(this).val());
					});
					$('.wbic').val(mycash+b);
					$('.cfromsys').val(b);
				}
			});
			
		$(".res").change(function () {

			
					var b = 0;
					$('.res').each(function() {
					b += parseFloat($(this).val());
					});
					$('.wbic').val(mycash+b);
					$('.cfromsys').val(b);
				
			});			
			
		});
		</script>
	</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="comment">Комментарий</label>
				<textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-2 col-sm-3">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
	</div>
</div>



</form>
{% endblock %}
