{% extends "layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<h1>Отчет пересмены</h1>
<div class="container-fluid">

  	<div class="row">
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="fid">Код отчета</label>

			<p id="fid">{{repo.id}}</p>
		</div>
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="cash">Сумма в кассе</label>
			<p id="cash" >{{repo.current_cash}}</p>
		</div>
	</div>  
  
  	<div class="row">
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="createdby">Смена сдана</label>
			<p>{{repo.createdbyname}}</p>
		</div>
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="passedby">Смена принята</label>

			{% if repo.passed>0 %}
			<p id="passedby" >{{repo.passedbyname}}</p>
			{% else %}
			<p id="passedby" >Не принята</p>
			{% endif %}
		</div>
	</div>  
	
  	<div class="row">
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="fid">Зал</label>
			<p id="fid">{{repo.deptname}}</p>
		</div>
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="datetime">Дата и время</label>
			<p id="datetime">{{repo.create_time}}</p>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="createdby">Отчет создал</label>
			<p id="comeout" >{{repo.createdbyname}}</p>
		</div>
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="createdby">Предыдущий отчет</label>
			<p >{{repo.lastrep}}</p>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width:3cm">
					Система
					</th>
					<th>
					Вход
					</th>
					<th>
					Выход
					</th>
					<th>
					В кассу
					</th>
					<th>
					Людей
					</th>
					<th>
					Баланс
					</th>
					<th>
					Ручной <br />
					пересчет
					</th>
					<th>
					Причина пересчета
					</th>
				</tr>
			</thead>
			<tbody>
			{% for row in rows %}
				<tr>
					<td>
					{{row.sysname}}
					</td>
					<td>
					{{row.in}}
					</td>
					<td>
					{{row.out}}
					</td>
					<td>
					{{row.res}}
					</td>
					<td>
					{{row.people}}
					</td>
					<td>
					{{row.bal}}
					</td>
					<td>
					{% if row.manual>0 %} <span class="label label-danger">Да</span>
					{% else %}<span class="label label-default">Нет</span>{% endif %}
					</td>
					<td>
					{{row.reason}}
					</td>
				</tr>
			{% endfor %}
			</tbody>

		</table>
	</div>	
	<div class="row">
		<div class="form-group col-sm-12">
			<label class="control-label" for="comment">Комментарий</label>
			<p id="comment">{{repo.comment}}</p>
		</div>
	</div>

{% if repo.passed<0 and my!=true %}
<form action="{{action}}" method="post">
	<input type="hidden" name="repid" value="{{repo.id}}" />
	<input type="hidden" name="passed" value="1" />
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-5 col-xs-12">
				<input type="submit" class="btn btn-success btn-block" 
				value="Утвердить" />
			</div>
			<div class="col-md-3 col-sm-2 col-xs-12" style="height:40px"></div>
			<div class="col-md-3 col-sm-5 col-xs-12">
				<input type="button" class="btn btn-danger btn-block" 
				value="Отклонить" />
			</div>
			<div class="col-md-3 col-sm-0 col-xs-12" style="height:20px"></div>
		</div>
	</div>
</form>
{% endif %}



</div>

{% endblock %}
