{% extends "layout.twig" %}

{% block title %}Отчеты кассиров по системам{% endblock %}

{% block content %}

    <h1>Отчеты пересменки кассиров</h1>

	<table width="100%">
	<thead>
	<tr>
	    
		<th>Дата создания</th>
        <th>Внесено</th>
        <th>Выведено</th>
		<th>В кассу</th>
		<th>Баланс кассы</th>
		<th>Создал</th>
		<th></th>		
	<tr>
	</thead>
	<tbody>
    {% for report in reports %}

        <tr>        
         
		<td>{{report.create_time}}</td>
        <td>{{report.input}}</td>
		<td>{{report.output}}</td>
		<td>{{report.res}}</td>
		<td>{{report.current_cash}}</td>
		<td>{{report.uname}}</a></td>
		<td><a href="/index.php/exchange/view-{{report.id}}">подробно</a></td>
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
