{% extends "layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<h1>Отчет общих</h1>

  <div class="form-group">
    <label class="control-label col-sm-2" for="fid">Код отчета</label>
    <div class="col-sm-12">
      <p id="fid">{{id}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="datetime">Дата и время</label>
    <div class="col-sm-12">
      <p id="datetime">{{timestamp}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="cash">Сумма</label>
    <div class="col-sm-12">
      <p id="cash" >{{cash}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="createdby">Расход создан</label>
    <div class="col-sm-12">
      <p id="createdby" >{{userid}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="comment">Комментарий</label>
    <div class="col-sm-12">
      <p id="comment">{{comment}}</p>
    </div>
  </div>
  </div>


{% endblock %}
