{% extends "layout.twig" %}

{% block title %}Создать/редактировать тип расходов{% endblock %}

{% block content %}

<h1>Создать тип расходов</h1>
<form action="{{action}}" method="post">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-xs-8">	
			<div class="form-group">
				<label for="name">Название</label>
				<input name="id" type="hidden" class="form-control" id="id" value="{{id}}">
				<input name="name" type="text" class="form-control" id="name" value="{{name}}">
			</div>
		</div>
		<div class="col-sm-4 col-xs-8">		
			<div class="form-group">
				<label for="desc">Описание</label>
					<input name="desc" type="text" class="form-control" id="desc" value="{{desc}}" />

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 col-sm-2">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-8" style="height:40px"></div>
		<div class="col-md-1 col-sm-2">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-8" style="height:40px"></div>
		<div class="col-md-1 col-sm-2">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>

	</div>
</div>
</form>
{% endblock %}
