{% extends "layout.twig" %}

{% block title %}Список отчетов{% endblock %}

{% block content %}

    <h1>Все типы расходов</h1>

	<table width="100%" class="table-bordered table">
	<thead>
	<tr>
	    <th>Тип</th> 
        <th>Описание</th> 
		<th></th> 
	<tr>
	</thead>
	<tbody>
    {% for item in types %}

        <tr>        
        <td>{{item.expenses}}</td>
        <td>{{item.expdesc}}</td>
		<td><a href="/index.php/admin/exp/edit-{{item.id}}" class="form-control">Править</a></td> 
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
