{% extends "layout.twig" %}

{% block title %}Кассиры моего региона{% endblock %}

{% block content %}

    <h1>Кассиры без распределения</h1>

	<table width="100%">
	<thead>
	<tr>
		<td>ФИО</td>
        <td></td>
		<td></td>
	<tr>
	</thead>
	<tbody>
    {% for item in cashiers %}

        <tr>        
         
		<td>{{item.name}}</td>
		<td><a href="/index.php/user/{{item.id}}/view">подробно</a></td>
		<td><a href="/index.php/manager/passcashier/{{item.id}}">утвердить</a></td>
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
