<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="container">
			<h1>Моя касса</h1>
				<div class="row">
					<div class="col-md-4">
					<h3>{{mycash}}</h3>
				</div></div>
			</div>
			<div class="container">
			<h1>Залы</h1>
				{% for izal in zals %}
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/pov/dept-{{izal.id}}" class="form-control">{{izal.addr}}</a>
				</div></div>
				{% endfor %}
			</div>
			<div class="container">
			<h1>Действия</h1>
			{% if zal!=null %}
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/pov/createexp/{{zal.id}}" class="form-control">Создать расход на зал</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/reports/createin/{{zal.id}}" class="form-control">Выдать деньги кассиру</a>
					</div>
				</div>
			{% endif %}	
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/reports/createout" class="form-control">Сдать деньги на оффис</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/reports/notpassed" class="form-control">Новые отчеты</a>
					</div>
				</div>
			</div>			
		</div>
		<div class="col-md-8">
			
			{% if zal==null %}
			<div class="alert alert-warning">
				<strong>Выберите зал для продолжения работы!</strong>
			</div>
			{% else %}
				{% include "zal-pov.twig" %}
			{% endif %}
		</div>
	</div>
</div>
