<div class="container">
	<div class="row">
		{% if meisactive %}
		<div class="col-md-4">
			<div class="container">
			<h1>Моя касса</h1>
				<div class="row">
					<div class="col-md-4">
					<h3>{{mycash}}</h3>
				</div></div>
			</div>
			<div class="container">
			<h1>Действия</h1>
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/pov/createexp/{{zal.id}}" class="form-control">Создать расход на зал</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/reports/createin/{{zal.id}}" class="form-control">Сдать кассу поверенному</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					<a href="/index.php/reports/notpassed" class="form-control">Новые отчеты</a>
					</div>
				</div>
			</div>			
		</div>
		{% else %}
		<div class="col-md-4">
			<div class="container">
			<a href="/index.php/exchange/pass" class="form-control"><h3>Принять смену</h3></a>
			</div>
		</div>
		{% endif %}
		<div class="col-md-8">
			
			{% if zal.id<1 %}
			<div class="alert alert-warning">
				<strong>Выберите зал для продолжения работы!</strong>
			</div>
			{% else %}
				{% include "zal-pov.twig" %}
			{% endif %}
		</div>
	</div>
</div>
