<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Система отчетов</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js" ></script>
        
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">RMS</a>
                </div>
                <div class="navbar-header">
                    <p class="navbar-brand">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						{% include "info-master-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_BOSS') %}
						{% include "info-boss-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_POV') %}
						{% include "info-pov-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_LOCALUSER') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_MANAGER') and not is_granted('ROLE_POV') and not is_granted('ROLE_BOSS') %}
						{% include "info-localuser-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_MANAGER') %}
						{% include "info-manager-h.twig" %}
					{% endif %}
				{% endif %}
					</p>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        
                        {% if app.user %}


					{% if is_granted('ROLE_ADMIN') %}
						{% include "menu-master-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_BOSS') %}
						{% include "menu-boss-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_POV') %}
						{% include "menu-pov-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_LOCALUSER') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_MANAGER') and not is_granted('ROLE_POV') and not is_granted('ROLE_BOSS') %}
						{% include "menu-localuser-h.twig" %}
					{% endif %}
					{% if is_granted('ROLE_MANAGER') %}
						{% include "menu-manager-h.twig" %}
					{% endif %}

						
						
						

							<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Здравствуйте, {{ app.user.displayName }}!
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
									{% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>
                                    
									<li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Редактировать профиль</a></li>
                                    {% endif %}
									<li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Выход</a></li>
                                </ul>
                            </li>

                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    

		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						{% include "menu-master.twig" %}
					{% endif %}
					{% if is_granted('ROLE_BOSS') %}
						{% include "menu-boss.twig" %}
					{% endif %}
					{% if is_granted('ROLE_POV') %}
						{% include "menu-pov.twig" %}
					{% endif %}
					{% if is_granted('ROLE_LOCALUSER') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_MANAGER') and not is_granted('ROLE_POV') and not is_granted('ROLE_BOSS') %}
						{% include "menu-localuser.twig" %}
					{% endif %}
					{% if is_granted('ROLE_MANAGER') %}
						{% include "menu-manager.twig" %}
					{% endif %}
				{% else %}
					<p class="lead">
						Пожалуйста <a href="/index.php/user/login">войдите</a>, используя Ваши учетные данные! 
					</p>
	
				{% endif %}
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		

 


        <footer style="padding-top: 20px; padding-bottom: 20px; margin-top: 100px; color: #777; border-top: 1px solid #e5e5e5;">
            <div class="container">
                
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    </body>
</html>
