{% extends layout_template  %}

{% block title %}Войти{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Добрый день, {{ app.user.displayName }}.</p>
        <p><a href="{{ path('user.logout') }}">Выйти</a></p>

    {% else %}
        <h1>
            Войти
        </h1>



        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputEmail">Электронная почта</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_username" type="text" id="inputEmail" placeholder="Email" required value="{{ last_username }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword">Пароль</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_password" type="password" id="inputPassword" required placeholder="Password">
                </div>
            </div>

            {% if allowRememberMe %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2 checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" value="true" checked>Запомнить меня на этом компьютере
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Войти</button>
                    {% if allowPasswordReset %}
                        <a style="margin-left: 10px;" href="{{ path('user.forgot-password') }}">Забыли пароль?</a>
                    {% endif %}
                </div>
            </div>

        </form>

    {% endif %}
{% endblock %}