<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Залы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
				{% for izal in depts %}
				<li><a href="/index.php/pov/dept-{{izal.id}}" class="form-control">{{izal.addr}}</a></li>
				{% endfor %}
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Действия
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
			{% if dept!=null %}
				<li><a href="/index.php/reports/createin/{{dept.id}}" class="form-control">Выдать деньги кассиру</a>
				</li>
			{% endif %}	
				<li><a href="/index.php/reports/createout" class="form-control">Сдать деньги на оффис</a></li>
				<li><a href="/index.php/reports/notpassed" class="form-control">Принять деньги из кассы</a></li>
	</ul>
	
</li>

