
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Мои залы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		{% for izal in depts %}
		<li><a href="/index.php/manager/dept-{{izal.id}}" class="form-control">{{izal.addr}}</a></li>
		{% endfor %}
		<li><a href="/index.php/manager/newdept" class="form-control">Создать</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Кассиры
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/manager/usersofreg" class="form-control">Кассиры региона</a></li>
		<li><a href="{{ path('user.register') }}" class="form-control">Новый кассир</a></li>
	</ul>
</li>
{% if dept!=null %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Зал/касса
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/createexp/{{dept.id}}" class="form-control">Создать расход на зал</a></li>
		<li><a href="/index.php/createexp/{{dept.id}}/any" class="form-control">Создать общий расход</a></li>
		<li><a href="/index.php/reports/createin/{{dept.id}}" class="form-control">Выдать деньги кассиру</a></li>
		<li><a href="/index.php/reports/cash/{{dept.id}}" class="form-control">Движение по кассе</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Системы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/reports/sys/{{dept.id}}" class="form-control">Внесение/списание</a></li>
		<li><a href="/index.php/reports/sysxchg/{{dept.id}}" class="form-control">Отчеты при пересмене</a></li>
		<li><a href="/index.php/manager/sysdept/{{dept.id}}" class="form-control">редактировать системы</a></li>
	</ul>
</li>
{% endif %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Офис
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/reports/createout" class="form-control">Сдать деньги на оффис</a></li>
		<li><a href="/index.php/reports/notpassed" class="form-control">Новые отчеты</a></li>
	</ul>
</li>

