<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Пользователи
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ path('user.list') }}">Список пользователей</a></li>
		<li><a href="{{ path('user.register') }}">Создать пользователя</a></li>
	</ul>
</li>



<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Расходы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/admin/exp/new">Создать новый тип</a></li>
		<li><a href="/index.php/admin/exp/list">Типы</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Системы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/admin/sys/new">Создать новую</a></li>
		<li><a href="/index.php/admin/sys/list">Все</a></li>
	</ul>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Регионы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/admin/regions">Все</a></li>
	</ul>
</li>