
			{% if iamactive!=false %}
<div class="container-fluid">
	<h2>Общие сведения</h2>
	<div class="row">
		<div class="col-md-6">
			<h4>Зал</h4>
		</div>
		<div class="col-md-6">
			<h4>{{dept.addr}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4>Касса</h4>
		</div>
		<div class="col-md-6">
			<h4>{{dept.current_cash}}</h4>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<h4>Менеджер зала</h4>
		</div>
		<div class="col-md-6">
			<h4>{{dept.manager}}</h4>
		</div>
	</div>

	
	<h2>Системы в зале</h2>
	<div class="row">
		<div class="col-md-6">
			<h3>Система</h3>
		</div>
		<div class="col-md-6">
			<h3>Баланс</h3>
		</div>

	</div>
	{% for sys in systems %}
	<div class="row">
		<div class="col-md-6">
			<h4>{{sys.name}}</h4>
		</div>
		<div class="col-md-6">
			<h4>{{sys.current_cash}}</h4>
		</div>

	</div>	
	{% endfor %}
</div>
			{% else %}
			<h1>Вы не на смене!</h1>
			{% endif %}
	

