{% if iamactive!=false %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Зал
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/exchange/do">Сдать смену</a></li>
		<li><a href="/index.php/createexp/{{dept.id}}">Создать целевой расход</a></li>
		
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Сдать/получить деньги
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/reports/createin/{{dept.id}}">Сдать деньги поверенному</a></li>
		<li><a href="/index.php/reports/notpassed">Принять деньги</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Движение
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/index.php/reports/cash/{{dept.id}}">Движение по кассе</a></li>
		<!--<li><a href="/index.php/reports/sys/{{dept.id}}">Движения по системам</a></li>-->
	</ul>
</li>
{% else %}
<li><a href="/index.php/exchange/pass">Принять смену</a></li>
{% endif %}
