
			<div class="container-fluid">
				<div class="row">
				<ul>
				{% for ritem in regs %}
					<li class="">
						{{ritem.name}}
						<ul class="">
						{% for ritem2 in ritem.children %}
							<li class="">
							{{ritem2.name}}
							<ul class="" role="">
								{% for ritem3 in ritem2.children %}
									<li class="">
									{{ritem3.name}}
									<ul class="" role="">
										{% for ritem4 in ritem3.children %}
										<li><a href="/index.php/boss/dept-{{ritem4.id}}" class="form-control">{{ritem4.addr}}</a></li>
										{% endfor %}
									</ul>
									</li>									
								{% endfor %}
							</ul>
							</li>
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
				
				
				
				
				</div>
			</div>
			