<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	Залы
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">

				<li><a href="/index.php/boss/dept-manager" class="form-control">Залы по менеджерам</a></li>
				<li><a href="/index.php/boss/dept-region" class="form-control">Залы по регионам</a></li>

	</ul>
</li>

