{% extends "layout.twig" %}

{% block title %}{{ id }}{% endblock %}

{% block content %}

<h1>Форма пересмены</h1>
<form action="{{action}}" method="post">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="time">Дата/врем</label>
				<input name="time" type="text" class="form-control" id="time" disabled value="{{ now }}">
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="mustpass">Сменяющий</label>
				<select name="mustpass" class="form-control" id="mustpass">
					{% for user in targetusers %}
					<option value="{{user.id}}">{{user.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-xs-12">	
			<div class="form-group">
				<label for="cash">Касса наличными</label>
				<input name="cash" type="text" class="form-control" id="cash">
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">		
			<div class="form-group">
				<label for="dept">Зал</label>
				<select name="dept" class="form-control" id="dept">

				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="comment">Комментарий</label>
				<textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-3">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
	</div>
</div>
</form>
{% endblock %}
