{% extends "layout.twig" %}

{% block title %}{{ id }}{% endblock %}

{% block content %}

<h1>Форма передачи</h1>
<form action="{{action}}" method="post">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="time">Дата/врем</label>
				<input name="time" type="text" class="form-control" id="time" disabled value="{{ now }}">
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="mustpass">Утверждающий</label>
				{% if outcoming==1 %}
				<select name="mustpass" id="mustpass"  class="form-control">
					{% for tu in targetusers %}
					<option value="{{tu.id}}">{{tu.name}}</option>
					{% endfor %}
				</select>
				{% else %}
				<input name="mustpass" type="hidden" class="form-control" id="nm" value="{{targetuser.id}}">
				<input name="mustpassnm" type="text" class="form-control" id="mustpassnm" readOnly value="{{targetuser.name}}">
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-xs-12">	
			<div class="form-group">
				<label for="cash">Сумма</label>
				<input name="cash" type="text" class="form-control" id="cash">
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">		
			<div class="form-group">
				<label for="deptaddr">Зал</label>
				<input name="dept" type="hidden" class="form-control" id="dept" value="{{dept.id}}">
				<input name="deptaddr" type="text" class="form-control" id="deptaddr" readOnly value="{{dept.addr}}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="comment">Комментарий</label>
				<textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-3">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
	</div>
</div>
</form>
{% endblock %}
