{% extends "layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
<h1>Отчет передачи средств</h1>

  <div class="form-group row">
    <label class="control-label col-sm-12" for="fid">Код отчета</label>
    <div class="col-sm-12">
      <p id="fid">{{id}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-12" for="datetime">Дата и время</label>
    <div class="col-sm-12">
      <p id="datetime">{{creation_time}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-12" for="cash">Сумма</label>
    <div class="col-sm-12">
      <p id="cash" >{{cash}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-12" for="createdby">Отчет создан</label>
    <div class="col-sm-12">
      <p id="createdby" >{{createdbyname}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-12" for="passedby">Отчет утвержден</label>
    <div class="col-sm-12">
      <p id="passedby" >{{passedbyname}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-12" for="comment">Комментарий</label>
    <div class="col-sm-12">
      <p id="comment">{{comment}}</p>
    </div>
  </div>
<div class=" row">
{% if passedby<0 and my!=true %}
<form action="{{action}}" method="post">
	<input type="hidden" name="repid" value="{{id}}" />
	<input type="hidden" name="dept" value="{{department}}" />
	<input type="hidden" name="passed" value="1" />
	

		<div class="row">
			<div class="col-md-2 col-sm-4">
				<input type="submit" class="btn btn-success btn-block" 
				value="Утвердить" />
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12" style="height:40px"></div>
			<div class="col-md-2 col-sm-4">
				<input type="button" class="btn btn-danger btn-block" 
				value="Отклонить" />
			</div>

		</div>

</form>
{% endif %}
</div>
  </div>



{% endblock %}
