{% extends "layout.twig" %}

{% block title %}Список отчетов{% endblock %}

{% block content %}

    <h1>Все отчеты</h1>

	<table width="100%" class="table-bordered table">
	<thead>
	<tr>
	    <th>Дата создания</th> 
        <th>Зал</th> 
		<th>Сумма</th> 
		<th>Форму создал</th> 
		<th>Форму подтвердил</th> 
		<th>Просмотреть и<br/>утвердить</th> 
	<tr>
	</thead>
	<tbody>
    {% for report in reports %}

        <tr>        
        <td>{{report.creation_time}}</td>
        <td>{{report.dname}}</td>
		<td>{{report.cash}}</td>
		<td><a href="/index.php/user/{{report.createdbyid}}">{{report.createdby}}</a></td>
		<td>
		{% if report.passedby!='0' %}
		<a href="/index.php/user/{{report.passedbyid}}"><span class="label label-success">{{report.passedby}}</span></a>
		{% else %}
		<span class="label label-danger">Не утвержден</span>
		{% endif %}
		</td>
		<td><a href="/index.php/reports/view-{{report.id}}" class="form-control">Подробнее</a></td> 
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
