{% extends "layout.twig" %}

{% block content %}


        <div class="alert alert-{{type}}">
            <p class="lead">
                <strong>{{mes1}}</strong>
                {{mes2}}
            </p>
        </div>




{% endblock %}
