{% extends "layout.twig" %}

{% block title %}Кассиры моего региона{% endblock %}

{% block content %}

    <h1>Кассиры моего региона</h1>

	<table width="100%">
	<thead>
	<tr>
		<td>ФИО</td>
        <td>На смене</td>
		<td></td>
		<td></td>
	<tr>
	</thead>
	<tbody>
    {% for item in cashiers %}

        <tr>        
         
		<td>{{item.name}}</td>
		<td>{% if item.active==1 %}Да{% endif %}</td>
		<td><a href="/index.php/user/{{item.id}}/edit">подробно</a></td>
		<td>{% if item.active==0 %}<a href="" 
			onClick="if (confirm('Снять кассира {{item.name}}?')) 
			location.href='/index.php/manager/unsetcashier/{{item.id}}';">
			снять с должности</a>{% endif %}</td>
		</tr>

        
    {% endfor %}
	</tbody>
	</table>

<a href="/index.php/manager/setcashier">Добавить нераспределенного</>
{% endblock %}
