{% extends layout_template  %}

{% block title %}Register{% endblock %}

{% block content %}

    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
        <h1>
            Создать пользователя
        </h1>



        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Имя</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" type="text" id="input-name" placeholder="Name" value="{{ name }}">
                    <span class="help-inline">Видно для всех</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-email">Электронная почта</label>
                <div class="col-sm-8">
                    <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ email }}">
                    <span class="help-inline">Скрыта для всех</span>
                </div>
            </div>

            {% if isUsernameRequired %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-username">Логин</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" required value="{{ username }}">
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-password">Пароль</label>
                <div class="col-sm-8">
                    <input class="form-control" name="password" type="password" id="input-password" required placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-confirm-password">Подтверждение пароля</label>
                <div class="col-sm-8">
                    <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" required placeholder="Confirm password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                </div>
            </div>
        </form>
	


    {% else %}
        <p>Вы не авторизированы как менеджер!</p>
        <p>Пожалуйста, <a href="/index.php/user/login">войдите</a> в систему</p>
    {% endif %}
{% endblock %}
