{% extends "layout.twig"  %}
{% block content %}
<div class="container-fluid">
<form action="/" method="post">
	<h2>Редактировать регион</h2>

			

	<div class="row">
		<div class="col-md-2">
			<h4>Имя региона</h4>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" name="addr" value="{{name}}" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Уровень выше</h4>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" name="addrn" value="{{pname}}" readOnly />
			

		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<h4>Mенеджер</h4>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" name="addrn" value="{{mname}}" readOnly />
		</div>
	</div>
	
	<!--
	<div class="row">
		<div class="col-md-2 col-sm-3">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
	</div>
	-->
</form>
</div>
{% endblock %}