{% extends "layout.twig"  %}
{% block content %}
<div class="container-fluid">
<form action="{{action}}" method="post">
	<h2>Добавить регион</h2>

			

	<div class="row">
		<div class="col-md-2">
			<h4>Имя региона</h4>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" name="addr" value="" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Уровень выше</h4>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" name="addrn" value="{{regions.name}}" readOnly />
			<input type="hidden" class="form-control" name="reg" value="{{regions.id}}" />

		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<h4>Назначить менеджера</h4>
		</div>
		<div class="col-md-10">
			<select size="1" name="manager" class="form-control">
				{% for mitem in managers %}
				<option value="{{mitem.id}}">{{mitem.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-2 col-sm-3">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
	</div>
	
</form>
</div>
{% endblock %}