<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<label></label>
		</div>
		<div class="col-md-6 col-xs-12">
			<label></label>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<label></label>
		</div>
		<div class="col-md-6 col-xs-12">
			<label></label>
		</div>
	</div>
	
</div>