{% extends "layout.twig" %}

{% block title %}Регионы{% endblock %}

{% block content %}
<div class="container-fluid">
	
	{% for item in tree.0.children %}
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<a href="/index.php/admin/regions/view-{{item.id}}" class="form-control">{{item.name}}</a>
			
		</div>
		<div class="col-md-6 col-xs-12">
			{% for item2 in item.children %}
			<div class="row">
			<a href="/index.php/admin/regions/view-{{item2.id}}" class="form-control">{{item2.name}}</a>
			</div>
			{% endfor %}
			
			<div class="row">
			<a href="/index.php/admin/regions/addchild/{{item.id}}" class="form-control">+</a>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="row">
			<a href="/index.php/admin/regions/addchild/1" class="form-control">Добавить область</a>
			</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<label></label>
		</div>
		<div class="col-md-6 col-xs-12">
			<label></label>
		</div>
	</div>
	
</div>

{% endblock %}