{% extends "layout.twig" %}

{% block title %}Внесение / списание по системам{% endblock %}

{% block content %}

    <h1>Внесение / списание по системам</h1>

	<table width="100%">
	<thead>
	<tr>
	    
		<th>Дата создания</th>
        <th>Система</th>
        <th>В систему</th>
		<th>Комментарий</th>
		<th>Создал</th>
		<th></th>		
	<tr>
	</thead>
	<tbody>
    {% for report in reports %}

        <tr>        
         
		<td>{{report.creation_time}}</td>
        <td>{{report.sysname}}</td>
		<td>{{report.moved}}</td>
		<td>{{report.comment}}</td>
		<td><a href="/index.php/user/{{report.uid}}">{{report.name}}</a></td>
		<td><a href="/index.php/reports/view-{{report.id}}">подробно</a></td>
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
