{% extends layout_template  %}

{% block title %}{{ id }}{% endblock %}

{% block content %}

    <div class="media">
        

        <div class="media-body">
            <h1 class="media-heading">{{ creation_time }}</h1>



        </div>
    </div>


{% endblock %}
