{% extends "layout.twig" %}

{% block title %}Движения по кассе{% endblock %}

{% block content %}

    <h1>Движения по кассе</h1>

	<table width="100%">
	<thead>
	<tr>
	    
		<td>Дата создания</td>
        <td>В кассу</td>
		<td>Комментарий</td>
		<td>Создал</td>
		<td></td>		
	<tr>
	</thead>
	<tbody>
    {% for report in reports %}

        <tr>        
         
		<td>{{report.creation_time}}</td>
        <td>{{report.moved}}</td>
		<td>{{report.comment}}</td>
		<td><a href="/index.php/user/{{report.uid}}">{{report.name}}</a></td>
		<td><a href="/index.php/reports/view-{{report.id}}">подробно</a></td>
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
