{% extends "layout.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="media">
        

        <div class="media-body">
            <h1 class="media-heading">{{id}}</h1>
			<h2 class="media-heading">{{creation_time}}</h2>


        </div>
    </div>


{% endblock %}
