{% extends "layout.twig" %}

{% block title %}Все системы{% endblock %}

{% block content %}

    <h1>Все системы</h1>

	<table width="100%" class="table-bordered table">
	<thead>
	<tr>
	    <th>Имя</th> 
        <th>Описание</th> 
		<th></th> 
	<tr>
	</thead>
	<tbody>
    {% for item in systems %}

        <tr>        
        <td>{{item.name}}</td>
        <td>{{item.desc}}</td>
		<td><a href="/index.php/admin/sys/edit-{{item.id}}" class="form-control">Править</a></td> 
		</tr>

        
    {% endfor %}
	</tbody>
	</table>


{% endblock %}
