{% extends "layout.twig"  %}
{% block content %}
<div class="container-fluid">

	<h2>Системы</h2>
	<div class="row">
		<table class="table table-bordered">
			<caption>Системы зала</caption>
			<thead>
				<tr>
					<th>
						Система
					</th>
					<th>
						Баланс
					</th>
					<th>
						Управление
					</th>
				</tr>
			</thead>
			<tbody>
				{% for sitem in systems %}
				<tr>
					<td>
						{{sitem.name}}
					</td>
					<td>
						{{sitem.current_cash}}
					</td>
					<td>
						<input type="button" class="btn btn-danger btn-block" value="Убрать из зала"  
						onClick="if (confirm('Вы действительно хотите удалить систему?')) 
						location.href='/index.php/manager/delsys/{{sitem.sdid}}-{{tdept}}';" />
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<form action={{action}} method="post">
	<input type="hidden" name="dept" value="{{tdept}}" />
	<div class="row">
		<div class="col-md-2">
			<h4>Добавить систему</h4>
		</div>
		<div class="col-md-10">
			<select size="1" name="newsystem" class="form-control">
				{% for sitem in newsys %}
				<option value="{{sitem.id}}">{{sitem.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row">
		<h2>Сохранить</h2>
		
		
		<div class="row">
		<div class="col-md-1 col-sm-2">
<!--			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />-->
		</div>
		<div class="col-md-2 col-sm-1 col-xs-8" style="height:40px"></div>
		<div class="col-md-1 col-sm-2">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-8" style="height:40px"></div>
		<div class="col-md-1 col-sm-2">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>

		</div>	
	</div>	
	</form>
</div>
{% endblock %}