{% extends "layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<h1>Итоги по системам</h1>
<div class="container-fluid">
	<div class="row">
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="fid">Зал</label>
			<p id="fid">{{repo.deptname}}</p>
		</div>
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="datetime">Дата и время</label>
			<p id="datetime">{{repo.timestamp}}</p>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="createdby">Отчет создал</label>
			<p id="comeout" >{{repo.createdbyname}}</p>
		</div>
		<div class="form-group col-sm-6 col-xs-12">
			<label class="control-label" for="createdby">Предыдущий отчет</label>
			<p >{{repo.lastrep}}</p>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width:3cm">
					Система
					</th>
					<th>
					Вход
					</th>
					<th>
					Выход
					</th>
					<th>
					В кассу
					</th>
					<th>
					Людей
					</th>
					<th>
					Баланс
					</th>
					<th>
					Ручной <br />
					пересчет
					</th>
					<th>
					Причина пересчета
					</th>
				</tr>
			</thead>
			<tbody>
			{% for row in rows %}
				<tr>
					<td>
					{{row.sysname}}
					</td>
					<td>
					{{row.in}}
					</td>
					<td>
					{{row.out}}
					</td>
					<td>
					{{row.res}}
					</td>
					<td>
					{{row.people}}
					</td>
					<td>
					{{row.bal}}
					</td>
					<td>
					{% if row.manual>0 %} <span class="label label-danger">Да</span>
					{% else %}<span class="label label-default">Нет</span>{% endif %}
					</td>
					<td>
					{{row.reason}}
					</td>
				</tr>
			{% endfor %}
			</tbody>


			<tfoot>
				<tr>
					<th style="width:3cm">
					Всего в кассу
					</th>
					<th>
					
					</th>
					<th>
					
					</th>
					<th>
					{{repo.total}}
					</th>
					<th>

					</th>
					<th>

					</th>
					<th>

					</th>
					<th>

					</th>
				</tr>			
			</tfoot>
		</table>
	</div>	
	<div class="row">
		<div class="form-group col-sm-12">
			<label class="control-label" for="comment">Комментарий</label>
			<p id="comment">{{repo.comment}}</p>
		</div>
	</div>
</div>


{% endblock %}
