{% if meisactive %}
<div class="container">
	<h2>Мой зал</h2>
	<div class="row">
		<div class="col-md-2">
			<h4>Зал</h4>
		</div>
		<div class="col-md-10">
			<h4>{{zal.addr}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Касса</h4>
		</div>
		<div class="col-md-10">
			<h4>{{zal.current_cash}}</h4>
		</div>
	</div>

	<h2>Закрепленные кассиры</h2>
	<div class="row">
		<div class="col-md-2">
			<h3>Логин</h3>
		</div>
		<div class="col-md-10">
			<h3>ФИО</h3>
		</div>
	</div>
	{% for usr in cashiers %}
	<div class="row">
		<div class="col-md-2">
			{{usr.email}}
		</div>
		<div class="col-md-10">
			{{usr.name}}
		</div>
	</div>	
	{% endfor %}	
	
	<h2>Системы в зале</h2>
	<div class="row">
		<div class="col-md-2">
			<h3>Система</h3>
		</div>
		<div class="col-md-10">
			<h3>Баланс</h3>
		</div>
	</div>
	{% for sys in systems %}
	<div class="row">
		<div class="col-md-2">
			Система
		</div>
		<div class="col-md-10">
			Баланс
		</div>
	</div>	
	{% endfor %}
</div>
{% else %}

<div class="alert alert-danger">
  <strong>Внимание!</strong> Вы не на смене, дальнейшая работа невозможна.
</div>

{% endif %}