{% extends "layout.twig"  %}
{% block content %}
<div class="container-fluid">
<form action={{action}} method="post">
	<h2>Добавить зал</h2>

			<input type="hidden" class="form-control" name="region" value="{{region}}" readOnly />

	<div class="row">
		<div class="col-md-2">
			<h4>Название</h4>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" name="addr" value="" />
			<input type="hidden" name="startcash" value="0" />
		</div>
	</div>




	<div class="row">
		<div class="col-md-2">
			<h4>Поставить кассира (не на смене)</h4>
		</div>
		<div class="col-md-10">
			<select size="1" name="cashier" class="form-control">
				{% for citem in cashiers %}
				<option value="{{citem.id}}">{{citem.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">
			<h4>Поставить системы</h4>
		</div>
		<div class="col-md-10">
			<select multiple="multiple" size="10" name="systems[]" class="form-control">
				{% for sitem in systems %}
				<option value="{{sitem.id}}">{{sitem.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-sm-3">
			<input type="reset"  class="btn btn-warning btn-block" value="Очистить" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="submit" class="btn btn-success btn-block" value="ОК" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
		<div class="col-md-2 col-sm-3">
			<input type="button" class="btn btn-danger btn-block" value="Отмена"  onClick="history.back()" />
		</div>
		<div class="col-md-2 col-sm-1 col-xs-12" style="height:40px"></div>
	</div>
	
</form>
</div>
{% endblock %}