{% extends "layout.twig"  %}
{% block content %}
<div class="container-fluid">

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Общие сведения</a></li>
  <li><a data-toggle="tab" href="#menu1">Расходы</a></li>
  <li><a data-toggle="tab" href="#menu2">Пересмены</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
	<h2>Общие сведения</h2>
	<div class="row">
		<div class="col-md-2">
			<h4>Зал</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.addr}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Касса</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.current_cash}}</h4>
		</div>
	</div>
	{% if dept.active_cashier!=null %}
	<div class="row">
		<div class="col-md-2">
			<h4>Кассир на смене</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.active_cashier.name}}</h4>
		</div>
	</div>
	{% endif %}
	<h2>Закрепленные кассиры</h2>
	<div class="row">
		<div class="col-md-2">
			<h3>Логин</h3>
		</div>
		<div class="col-md-10">
			<h3>ФИО</h3>
		</div>
	</div>
	{% for usr in cashiers %}
	<div class="row">
		<div class="col-md-2">
			{{usr.email}}
		</div>
		<div class="col-md-10">
			{{usr.name}}
		</div>
	</div>	
	{% endfor %}	
	
	<h2>Системы в зале</h2>
	<table width="100%" class="table">
		<thead>
			<tr>
				<th width="30%">
					Системы
				</th>
				<th>
					Баланс
				</th>
			</tr>
		</thead>
		<tbody>
	{% for sys in systems %}
			<tr>
				<td>
				{{sys.name}}
				</td>
				<td>
				{{sys.current_cash}}
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>

  </div>
  <div id="menu1" class="tab-pane fade">
	<table width="100%" class="table-striped table-bordered">

	<caption>Расходы из кассы в зале</caption>

		<thead>
			<tr>
				<th style="width:2.5cm">
					Дата/время
				</th>
				<th style="width:2.5cm">
					Инициатор
				</th>
				<th style="width:1.8cm">
					Сумма
				</th>

				<th style="width:1.8cm">
					Тип
				</th>
				<th>
					Коммент
				</th>
				</tr>
		</thead>
		<tbody>
		{% for ie in expall %}
			<tr >
				<td style="background-color:inherit">
					{{ie.tm}}
				</td>
				<td style="background-color:inherit">
					{{ie.created}}
				</td>
				<td style="background-color:inherit; color:{% if ie.cash < 0 %}red{% else %}green{% endif %}">
					{{ie.cash}}
				</td>
			
				<td style="background-color:inherit">
					{{ie.exptype}}
				</td>
				<td style="background-color:inherit">
					{{ie.comment}}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h1>Отчеты пересменки кассиров</h1>

	<table width="100%">
	<thead>
	<tr>
	    
		<th>Дата создания</th>
        <th>Внесено</th>
        <th>Выведено</th>
		<th>В кассу</th>
		<th>Баланс кассы</th>
		<th>Создал</th>
		<th></th>		
	<tr>
	</thead>
	<tbody>
    {% for report in reports %}

        <tr>        
         
		<td>{{report.create_time}}</td>
        <td>{{report.input}}</td>
		<td>{{report.output}}</td>
		<td>{{report.res}}</td>
		<td>{{report.current_cash}}</td>
		<td>{{report.uname}}</a></td>
		<td><a href="/index.php/exchange/view-{{report.id}}">подробно</a></td>
		</tr>

        
    {% endfor %}
	</tbody>
	</table>
  </div>
</div>


	</div>

{% endblock %}