{% extends "layout.twig"  %}
{% block content %}
<div class="container">
	<h2>Общие сведения</h2>
	<div class="row">
		<div class="col-md-2">
			<h4>Зал</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.addr}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Касса</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.current_cash}}</h4>
		</div>
	</div>
	{% if dept.active_cashier!=null %}
	<div class="row">
		<div class="col-md-2">
			<h4>Кассир на смене</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.active_cashier.name}}</h4>
		</div>
	</div>
	{% endif %}
	<h2>Закрепленные кассиры</h2>
	<div class="row">
		<div class="col-md-2">
			<h3>Логин</h3>
		</div>
		<div class="col-md-10">
			<h3>ФИО</h3>
		</div>
	</div>
	{% for usr in cashiers %}
	<div class="row">
		<div class="col-md-2">
			{{usr.email}}
		</div>
		<div class="col-md-10">
			{{usr.name}}
		</div>
	</div>	
	{% endfor %}	
	
	<h2>Системы в зале</h2>
	<div class="row">
		<div class="col-md-2">
			<h3>Система</h3>
		</div>
		<div class="col-md-4">
			<h3>Баланс</h3>
		</div>
		<div class="col-md-2">
			<h3></h3>
		</div>
	</div>
	{% for sys in systems %}
	<div class="row">
		<div class="col-md-2">
			<h4>{{sys.name}}</h4>
		</div>
		<div class="col-md-2">
			<h4>{{sys.current_cash}}</h4>
		</div>
		<div class="col-md-2">
			<a href="/index.php/systems/addmoney/{{dept.id}}-{{sys.id}}"  class="btn btn-success" >Пополнить</a>
		</div>
		<div class="col-md-2">
			<a href="/index.php/systems/extractmoney/{{dept.id}}-{{sys.id}}"  class="btn btn-warning" >Вывести</a>
		</div>
	</div>	
	{% endfor %}
</div>
{% endblock %}