{% extends "layout.twig"  %}
{% block content %}
<div class="container-fluid">
	<h2>Мои расходы</h2>


{% if expall!=null %}
	<div class="row">
	<table width="100%" class="table-striped table-bordered">
	{% if dept!=null %}
	<caption>Движения средств кассы (по залу {{dept.addr}})</caption>
	{% else %}
	<caption>Движения моих средств (по всем залам)</caption>
	{% endif %}
		<thead>
			<tr>
				<th style="width:2.5cm">
					Дата/время
				</th>
				<th style="width:2.5cm">
					Инициатор
				</th>
				<th style="width:1.8cm">
					Сумма
				</th>
				{% if dept==null %}
				<th style="width:2.5cm">
					Зал
				</th>
				{% endif %}
				<th style="width:1.8cm">
					Тип
				</th>
				<th>
					Коммент
				</th>
				</tr>
		</thead>
		<tbody>
		{% for ie in expall %}
			<tr style="background-color:{% if ie.passed==-1 %}#ffe6cc{% else %}inherit{% endif %}"
				{% if ie.passed==-1 %}onClick="location.href='/index.php/reports/view-{{ie.evid}}'{% endif %};">
				<td style="background-color:inherit">
					{{ie.tmst}}
				</td>
				<td style="background-color:inherit">
					{{ie.created}}
				</td>
				<td style="background-color:inherit; color:{% if ie.cash <0 %}red{% else %}green{% endif %};">
					{{ie.cash}}
				</td>
				{% if dept==null %}
				<td style="background-color:inherit">
					{{ie.addr}}
				</td style="background-color:inherit">
				{% endif %}				
				<td style="background-color:inherit">
					{{ie.exptype}}
				</td>
				<td style="background-color:inherit">
					{{ie.comment}}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>

{% endif %}

</div>
{% endblock %}