{% extends "layout.twig"  %}
{% block content %}
<div class="container">
	<h2>Общие сведения</h2>
	<div class="row">
		<div class="col-md-2">
			<h4>Зал</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.addr}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Касса</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.current_cash}}</h4>
		</div>
	</div>
	{% if dept.active_cashier!=null %}
	<div class="row">
		<div class="col-md-2">
			<h4>Кассир на смене</h4>
		</div>
		<div class="col-md-10">
			<h4>{{dept.active_cashier.name}}</h4>
		</div>
	</div>
	{% endif %}


</div>
{% endblock %}